/* Footer */
footer {
  min-height: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  background: var(--main-red-color);
  color: var(--main-white-color);
}
